<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEK4CCndJdgIO7OJUhJ1eILa7wyHgxwOk</string>
	<key>GCM_SENDER_ID</key>
	<string>652394587641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>financemanager-87772</string>
	<key>STORAGE_BUCKET</key>
	<string>financemanager-87772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652394587641:ios:e5eb0634aefef40b548928</string>
</dict>
</plist>